@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
         
:root {
    --primary: #a60000;
    --black: #000000;
    --white: #ffffff;
    --fontFamily: 'Poppins', sans-serif;
    --transition: all .25s ease-in-out
}

* {
    font-family: var(--fontFamily);
}

h1,
h2,
h3 {
    font-family: var(--fontFamily);
    font-weight: 700;
}

a,
li,
p {
    font-family: var(--fontFamily);
}

p,
ul,
ol {
	font-size: 16px;
}

a[href*="tel:"] {
    color: var(--black);
}

li::marker {
	color: var(--primary);
}

.header {
    background-color: var(--white);
}

.menu-item {
    font-weight: 700;
    opacity: 0.6;
    transition: var(--transition);
}

.menu-item:hover {
    opacity: 1;
    transition: var(--transition);
}

.menu-item.current-menu-item {
    opacity: 1;
}

.elementor-widget-button .elementor-button {
    font-weight: 700;
    background-color: var(--primary);
    transition: var(--transition);
}

.elementor-widget-button .elementor-button:hover {
    transform: scale(1.02);
    transition: var(--transition);
}

.card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 9px;
}

.card h3 {
    margin-top: 10px;
}

.form-wrapper {
    display: flex;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: var(--white);
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.form-wrapper input {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-bottom: 1px solid var(--primary);
    border-radius: 0;
    height: 60px;
    outline: none;
    font-size: 18px;
    transition: border-bottom 200ms ease;
}

.form-wrapper input:focus {
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid var(--primary);
}

.form-wrapper .btn {
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: border-bottom 200ms ease;
    transition: var(--transition);
    margin-top: 20px;
    border-radius: 12px;
}

.form-wrapper .btn:hover {
    transform: scale(1.02);
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row .form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-item .form-row {
    align-items: center;
    justify-content: flex-start;
}

.form-item input {
    flex: unset;
    width: unset;
    height: unset;
}

.form-row label,
.form-row input,
.form-row select {
    font-size: 16px;
}

.form-heading {
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
}

.form-row label {
    font-weight: 700;
}

.form-item label {
    font-weight: 400;
}

footer.footer {
    background-color: var(--black);
}

.footer .c_widget {
    width: 100%;
}

.footer .c_widget .menu > li > a,
.footer p,
.footer a,
.footer .copyright a,
.copyright a {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
}

.footer a:hover {
    cursor: pointer;
}

.footer .custom-footer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.wp-container-core-columns-is-layout-1.wp-container-core-columns-is-layout-1 {
	justify-content: flex-end;
}

.footer .custom-footer .wp-block-column {
	flex: 1 0;
}

.wp-container-core-columns-is-layout-1.wp-container-core-columns-is-layout-1 .wp-block-column:nth-of-type(1) {
	margin-right: auto;
}

.footer .custom-footer .wp-block-column:nth-of-type(2) {
	flex: 2 0;
}

.footer .is-layout-flex {
	align-items: flex-start;
}

.footer .widget_nav_menu li {
	padding: 0;
}

.footer .c_widget .page_item a {
	line-height: unset;
}